In [15]:
def zad1(a,b):
    return a*b
zad1(3,4)

12

In [16]:
def zad2(a):
    if float(a)%2 == 0:
        print("Liczba parzysta")
    else: 
        print("Liczba nieparzysta")
zad2(4)

Liczba parzysta

In [9]:
#dzielenie calkowito liczbowe 
14//3

4

In [10]:
3//1.4

2.0

In [24]:
def zad3(a):
    result=0
    for i in range(a):
        result+=i**2
    return(result)
zad3(3)

5

In [25]:
def zad4(a):
    if a%1==0 and a%a == 0:
        print("Liczba jest pierwsza")
    else: 
        print("Liczba nie jest pierwsza")
zad4(5)

Liczba jest pierwsza

In [49]:
def zad5(x):
    d=[]
    for i in range(x):
        if x%(i+1) == 0:
            d.append(i+1)
    print(d)
zad5(6)

[1, 2, 3, 6]

In [64]:
#?????
def zad6(x):
    d=[]
    while(x>1): 
        for i in range(2,x+1):
            if x % i == 0:
                d.append(i)
                x//=i
                break
    return list(set(d))
zad6(1233)

[137, 3]

In [70]:
#zadanie 7 - znajdzie najmniejszą wspólna wielokrotność podanych dwóch liczb.
def nwd(a, b):
    if b > 0:
        return nwd(b, a%b)
    else:
        return a
def nww(a, b): return a*b//nwd(a, b)

nww(2,7)

14

In [79]:
#zadanie 8 - przedstawi zadaną liczbę w postaci binarnej.
x= input("Wypisz liczbe :")
def binary(x):
    b=bin(int(x))
    return(b)
binary(x)

Wypisz liczbe :4

'0b100'

In [81]:
#zadanie 9 - dla zadanych wartości współczynników trójmianu kwadratowego znajdzie jego miejsca zerowe.

import math
def zad9(a,b,c):
    delta = (b**2 - 4*a*c)
    print(delta)
    if delta == 0:
        return -b/(2*a)
    elif delta < 0:
        print("Brak miejsc zerowych")
    else: 
        return (-math.sqrt(delta)-b)/(2*a), (math.sqrt(delta)-b)/(2*a)
zad9(1,8,1)

60

(-7.872983346207417, -0.12701665379258298)

In [90]:
#zadanie 10 - dla danego  n  obliczy  n! . Podaj różne rozwiązania tego problemu.
#1
def zad10_1(x):
    factorial = 1
    for i in range(1,x):
        factorial = factorial * (i+1)
    print(factorial)
zad10_1(4)

#2
import math 
def zad10_2(x):
    return math.factorial(x)
zad10_2(4)

24

24

In [11]:
#zadanie 11 - oblicza n-tą liczbę Fibonacciego (n duże).

def zad11(x):
    a = 0 
    b = 1
    if x == 1:
        return a
    elif x == 2:
        return b
    else: 
        for i in range(3,x+1):
            c = a+b 
            a = b 
            b = c
        return b 
zad11(15)

#Funkcja liczy n-tą liczbę Fibonacciego (n małe)

def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

print(fib(10))

89

In [13]:
#zadanie 12 - dla dowolnej ilości argumentów zwróci ich skumulowane sumy częściowe.
def zad12_1(*args):
    start = 0 
    for arg in args: 
        start += arg
    return start 
zad12_1(5,2,3,9)

19

In [14]:
#zadanie 13 - dla dowolnej ilości argumentów liczbowych zwróci ich średnią arytmetyczną.

def zad13(*args):
    start = 0
    i = 0 
    for arg in args: 
        start +=arg
        i+=1
    return start/i 
zad13(1,2,3,4)

2.5

In [15]:
# zadanie 14 - dla zadanego łancucha znaków zwróci łańcuch ze znakami w odwrotnej kolejności.
def zad14(x):
    return x[::-1]
zad14("Ala ma kota")

'atok am alA'

In [16]:
# zadanie 15 - dla danego łańcucha znaków zwróci informację ile jest w nim dużych, a ile małych liter.

def zad15(x):
    lower = 0 
    upper = 0 
    for i in x: 
        if i.islower() == True:
            lower += 1
        else: 
            upper += 1
    print(f"lower : {lower}, upper : {upper} ")
zad15("Madzia")

lower : 5, upper : 1

In [19]:
#zadanie 16 - dla danej tablicy zwróci tablicę z jej unikalnymi elementami.

def zad16(x):
    return list(set(x))

[1, 2, 3, 4, 5]

In [ ]:
zad16([1,2,3,4,5,1,2,3])

In [2]:
# zadanie 17 - dla zadanego łańcucha znaków zwróci słownik ze statystykami na temat częstości występowania poszczególnych znaków.
import pandas as pd
def zad17(x):
    return pd.Series(list(x)).value_counts()
zad17("alanos kompanieros")

ModuleNotFoundError: No module named 'pandas'

In [12]:
#zadanie 18 - dla zadanego stringa zwróci liste słów, na które można go podzielić.
def zad18(x):
    return x.split()
zad18("Ala ma kota a kot ma ale")

['Ala', 'ma', 'kota', 'a', 'kot', 'ma', 'ale']

In [13]:
#zadanie 19 - dla zadanego string zwróci jego postać w notacji wielbłądziej, np. dla "ala ma pythona" otrzymamy 'alaMaPythona'.

def zad19(x):
    words = x.split()
    words = [words[0].lower()] + [word.capitalize() for word in words[1:]]
    return "".join(words)
zad19("ala ma pythona")

'alaMaPythona'

In [16]:
#zadanie 20 - dla string w postaci wielbłądziej zwróci jego postać "normalną", np. dla 'alaMaPythona' otrzymamy "ala ma pythona".

def zad20(x):
    to_split = [i for i in x if i.isupper()]
    letters = list(x)
    normal_word = letters[0].lower()
    for i in letters[1:]:
        if i in to_split:
            normal_word += " "
            normal_word += i.lower()
        else:
            normal_word += i
    return normal_word
zad20("alaMaKotaAKotMaAle")

'ala ma kota a kot ma ale'

In [20]:
#zadanie 21 - zgodnie z metodą babilońską obliczy przybliżenie pierwiastka kwadratowego danej liczby.

def zad21(x):
    g = x/2.0
    g2 = g + 1
    while(g != g2):
        n = x/ g
        g2 = g
        g = (g + n)/2

    return g
zad21(5)

2.23606797749979

In [24]:
#zadanie 22 - przybliża wartość  𝜋 (metoda Monte-Carlo).
import random as r

def zad22():
    circle_points = 0
    square_points = 0
    interval = 1000
    for i in range(interval*2):
        rand_x = r.uniform(-1,1)
        rand_y = r.uniform(-1,1)
        origin_dist = rand_x**2 + rand_y**2
        if origin_dist <=1:
            circle_points+= 1
        square_points +=1
        pi = 4*circle_points/square_points
    return pi
zad22()

3.108

In [26]:
#zadanie 23 - dla list a=[1, 2, 3] i b=[4, 5, 6] zwróci wynik c=[(1, 4), (2, 5), (3, 6)].

def zad23(x,y):
    new_list = []
    for i in range(len(x)):
        new_list.append((x[i], y[i]))
    return new_list
zad23([1,2,3],[4,5,6])

[(1, 4), (2, 5), (3, 6)]

In [27]:
#zadanie 24 - dla zakresu liczb range(100) zwróci listę wartości, które są podzielne przez 3 i niepodzielne przez 5.

def zad24():
    list=[]
    for i in range(100):
        if i % 3 == 0 and i % 5 != 0:
            list.append(i)
    return list
zad24()

[3,
 6,
 9,
 12,
 18,
 21,
 24,
 27,
 33,
 36,
 39,
 42,
 48,
 51,
 54,
 57,
 63,
 66,
 69,
 72,
 78,
 81,
 84,
 87,
 93,
 96,
 99]